#popup-product{

    border: solid 1px #000;
    padding: 10px;
    position: fixed;
    top: 22%;
    left: 25%;
    width: 50%;
    background-color: #00ACD7;
    z-index: 99999;
	
}
.close_me{
    position: absolute;
    right: -12px;
    top: -20px;
    border: solid 1px #676767;
    padding: 2px 8px 2px 8px;
    border-radius: 10px;
    cursor: pointer;
    font-weight: bold;
    background-color: #3C5A9A;
    color: #fff;
}
.title-name
{
	border: solid 1px #0D1A30;
	padding: 5px 5px 5px 15px;
	background-color: #0D1A30;
	color: #fff;
	position: relative;
	left: -11px;
	width: 95%;
}