<?xml version="1.0"?>
<config>
	<sections>
		<payment translate="label" module="payment">
			<groups>
				<cashondelivery translate="label">
					<fields>						
				
                        <stateprovince translate="label">
                            <label>State/Province</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>75</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>cashondelivery/system_config_source_shipping_state_provinces</source_model>   
                            <!-- <source_model>extends/system_config_source_shipping_state_provinces</source_model>                         -->
                        </stateprovince>		
                        <city translate="label">
                            <label>City</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>76</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>cashondelivery/system_config_source_shipping_city</source_model>  
                            <!-- <source_model>extends/system_config_source_shipping_city</source_model>                         	 -->
                        </city>	
					</fields>
				</cashondelivery>
			</groups>
		</payment>
	</sections>
</config>
