<?xml version="1.0"?>
<config>
    <modules>
        <Unilab_Catalog>
            <version>0.1.0</version>
        </Unilab_Catalog>
    </modules>
    <global>  
        <blocks>
            <catalog>
                <rewrite> 
                    <product_list_filter>Unilab_Catalog_Block_Product_List_Filter</product_list_filter>
                    <category_list>Unilab_Catalog_Block_Category_List</category_list>
                    <navigation_left>Unilab_Catalog_Block_Navigation_Left</navigation_left>
                    <navigation>Unilab_Catalog_Block_Navigation</navigation>
				</rewrite>
			</catalog>
		</blocks> 
		<models>
            <catalog>
                <rewrite> 
                    <product>Unilab_Catalog_Model_Product</product>
                    <layer>Unilab_Catalog_Model_Layer</layer>
                    <product_type_price>Unilab_Catalog_Model_Product_Type_Price</product_type_price>
                    <!--<product_type_configurable_price>Unilab_Catalog_Model_Product_Type_Configurable_Price</product_type_configurable_price>-->
                    <customurl>Unilab_Catalog_Model_Customurl</customurl>
                    <observer_price>Unilab_Catalog_Model_Observer_Price</observer_price>
                    <convert_adapter_productpriceupdater>Unilab_Catalog_Model_Convert_Adapter_Productpriceupdater</convert_adapter_productpriceupdater>
                    <convert_adapter_productconfigurableimporter>Unilab_Catalog_Model_Convert_Adapter_Productconfigurableimporter</convert_adapter_productconfigurableimporter>
				</rewrite>
			</catalog>
		</models> 
		<helpers>
            <catalog>
                <rewrite>
                    <product>Unilab_Catalog_Helper_Product</product>
                </rewrite>
            </catalog>
        </helpers>
<!-- 		 <events>
            <catalog_product_get_final_price>
                <observers>
                    <check_product_prices>
                        <type>singleton</type>
                        <class>catalog/observer_price</class>
                        <method>checkProductPrice</method>
                    </check_product_prices>
                </observers>
            </catalog_product_get_final_price> 
        </events> -->
    </global>
</config>
