<?xml version="1.0" encoding="UTF-8"?>

<config>    
    <modules>
        <Gurutheme_Advancedquickorder>
            <version>1.2.0</version>
        </Gurutheme_Advancedquickorder>
    </modules>
    <frontend>
        <routers>
            <advancedquickorder>
                <use>standard</use>
                <args>
                    <module>Gurutheme_Advancedquickorder</module>
                    <frontName>advancedquickorder</frontName>
                </args>
            </advancedquickorder>
        </routers>
        <layout>
            <updates>
                <advancedquickorder>
                    <file>gurutheme/advancedquickorder.xml</file>
                </advancedquickorder>
            </updates>
        </layout>
    </frontend>
    <global>
        <models>
            <advancedquickorder>
                <class>Gurutheme_Advancedquickorder_Model</class>
                <resourceModel>advancedquickorder_mysql4</resourceModel>
            </advancedquickorder>
        </models>
        <resources>
            <advancedquickorder_setup>
                <setup>
                    <module>Gurutheme_Advancedquickorder</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </advancedquickorder_setup>
            <advancedquickorder_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </advancedquickorder_write>
            <advancedquickorder_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </advancedquickorder_read>
        </resources>
        <blocks>
            <advancedquickorder>
                <class>Gurutheme_Advancedquickorder_Block</class>
            </advancedquickorder>
        </blocks>
        <helpers>
            <advancedquickorder>
                <class>Gurutheme_Advancedquickorder_Helper</class>
            </advancedquickorder>
        </helpers>
        <events>
            <controller_front_init_routers>
                <observers>
                    <advancedquickorder>
                        <type>singleton</type>
                        <class>Gurutheme_Advancedquickorder_Controller_Router</class>
                        <method>initControllerRouters</method>
                    </advancedquickorder>
                </observers>
            </controller_front_init_routers>
        </events>
    </global>
    <adminhtml>
        <events>
            <eav_collection_abstract_load_before>
                <observers>
                    <advancedquickorder_eav_collection_abstract_load_before>
                        <class>advancedquickorder/adminhtml_observer</class>
                        <method>onEavLoadBefore</method>
                    </advancedquickorder_eav_collection_abstract_load_before>
                </observers>
            </eav_collection_abstract_load_before>

            <core_block_abstract_prepare_layout_before>
                <observers>
                    <advancedquickorder_core_block_abstract_prepare_layout_before>
                        <class>advancedquickorder/adminhtml_observer</class>
                        <method>onPrepareMassactionUpdateSuggestion</method>
                    </advancedquickorder_core_block_abstract_prepare_layout_before>
                </observers>
            </core_block_abstract_prepare_layout_before>
        </events>
    </adminhtml>
    <default>
       <advancedquickorder>
            <advancedquickorder_general>
                <active>1</active>
                <title>Quick order</title>
                <route>quickorder</route>
                <quickdisplay>2</quickdisplay>
                <rowsofinput>4</rowsofinput>
                <numberofrows>4</numberofrows>
                <loggedin>0</loggedin>
                <hideaddtocartonitem>0</hideaddtocartonitem>
                <quicklinkmenu>1</quicklinkmenu>
                <loadbycategory>0</loadbycategory>
            </advancedquickorder_general>
            <advancedquickorder_suggestion>
                <active>0</active>
                <displaytype>1</displaytype>
                <numberofproducts>10</numberofproducts>
            </advancedquickorder_suggestion>
        </advancedquickorder>
    </default>
    
</config>
