<?xml version="1.0"?>
<config>
    <modules>
        <Unilab_Sales>
            <version>0.1.0</version>
        </Unilab_Sales>
    </modules>
    <global> 
		<fieldsets>  
			<sales_convert_order_item>
				<prescription_id>
					<to_quote_item>*</to_quote_item>
					<to_invoice_item>*</to_invoice_item> 
				</prescription_id> 
			</sales_convert_order_item>
			<sales_convert_quote_item>
				<prescription_id>
					<to_order_item>*</to_order_item>
				</prescription_id>
			</sales_convert_quote_item>			
			<sales_convert_quote>
				<unilab_waybill_number>
					<to_order>*</to_order>
				</unilab_waybill_number> 
				<unilab_insurance>
					<to_order>*</to_order>
				</unilab_insurance> 
			</sales_convert_quote>
			<sales_convert_order>
				<unilab_waybill_number>
					<to_quote>*</to_quote>
				</unilab_waybill_number> 
				<unilab_insurance>
					<to_quote>*</to_quote>
				</unilab_insurance> 
			</sales_convert_order>
		</fieldsets>		
		<helpers>
            <sales>
                <rewrite>
                    <data>Unilab_Sales_Helper_Data</data>
                </rewrite>
            </sales>
        </helpers>
		<models>
			<sales>
				<rewrite>
					<order_creditmemo>Unilab_Sales_Model_Order_Creditmemo</order_creditmemo>
					<quote_address_rate>Unilab_Sales_Model_Quote_Address_Rate</quote_address_rate>
					<service_order>Unilab_Sales_Model_Service_Order</service_order>
					<order_pdf_shipment>Unilab_Sales_Model_Order_Pdf_Shipment</order_pdf_shipment>
					<order_pdf_items_shipment_default>Unilab_Sales_Model_Order_Pdf_Items_Shipment_Default</order_pdf_items_shipment_default>
				</rewrite>
			</sales>
		</models>
		<blocks>
			<sales>
				<rewrite>
					<observer>Unilab_Sales_Model_Observer</observer>
				</rewrite>
			</sales>
		</blocks>
		<events>
			<sales_quote_address_collect_totals_after>
				<observers>
					<prepare_insurance>
						<class>Unilab_Sales_Model_Observer</class>
						<method>calculateInsurance</method>
					</prepare_insurance>
				</observers>
			</sales_quote_address_collect_totals_after>
		</events>
    </global> 
</config>