<?xml version="1.0"?>
<!--
/**
 * @category   Unilab
 * @package    Unilab_Prescription
 * @author     ModuleCreator
 * @license    http://opensource.org/licenses/osl-3.0.php  Open Software License (OSL 3.0)
 */
 -->
<config>
    <modules>
        <Unilab_Prescription>
            <version>0.1.0</version>
            <version>0.2.0</version>
            <version>0.3.0</version>
            <version>0.4.0</version>
        </Unilab_Prescription>
    </modules>
    <frontend>
        <routers>
            <prescription>
                <use>standard</use>
                <args>
                    <module>Unilab_Prescription</module>
                    <frontName>prescription</frontName>
                </args>
            </prescription>
        </routers>
        <layout>
            <updates>
                <prescription>
                    <file>prescription.xml</file>
                </prescription>
            </updates>
        </layout>
    </frontend>  
    <admin>
        <routers>
			<prescription>
				<use>admin</use>
				<args>
					<module>Unilab_Prescription</module>
					<frontName>prescription</frontName>
				</args>
			</prescription>
        </routers>
    </admin>
    <adminhtml>  
		<layout>
			<updates>
				<prescription>
					<file>prescription.xml</file>
				</prescription>
			</updates>
		</layout>
    </adminhtml>
    <global>
        <models>
            <prescription>
                <class>Unilab_Prescription_Model</class>
                <resourceModel>prescription_mysql4</resourceModel>
            </prescription>
            <prescription_mysql4>
                <class>Unilab_Prescription_Model_Mysql4</class>
                <entities>
                    <prescription>	
                        <table>unilab_prescription</table>
                    </prescription> 
                    <prescription_temp_rx>
                        <table>unilab_prescription_temp_rx</table>
                    </prescription_temp_rx>
                </entities>
            </prescription_mysql4>
        </models>
        <resources>
            <prescription_setup>
                <setup>
                    <module>Unilab_Prescription</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </prescription_setup>
            <prescription_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </prescription_write>
            <prescription_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </prescription_read>
        </resources>
        <blocks>
            <prescription>
                <class>Unilab_Prescription_Block</class>
            </prescription>
        </blocks>
        <helpers>
            <prescription>
                <class>Unilab_Prescription_Helper</class>
            </prescription>
        </helpers> 
		 <events>
            <sales_quote_item_qty_set_after>
                <observers>
                    <check_cart_item_rx>
                        <class>prescription/observer</class>
                        <method>checkCartItemsPrescriptions</method>
                    </check_cart_item_rx>
                </observers>
            </sales_quote_item_qty_set_after> 
        </events>
    </global> 
</config>