li.ddl-reg.fields {
    margin: 8px 0!important
}
li.ddl-reg-gender.fields {
    margin: 0!important
}
#captcha-input-box-user_create {
    width: 50%
}
ul.form-list.captcha {
    display: inline-block
}
label.reg-lblcaptcha {
    margin: 10px 0!important
}
a.link,
label.em {
    color: #A61008
}
label.reg-lblcaptcha.required {
    width: 100%
}
#captcha_user_forgotpassword {
    background: #F7F7F7;
    border: 1px solid #CCC;
    padding: 4px 9px;
    width: 100%
}
@media screen and (max-width: 479px) and (min-width: 100px) {
    ul.form-list.captcha {
        display: inline-block
    }
    #captcha-image-box-user_create {
        margin-top: 10px
    }
    .input-box.customer-dob.field-row {
        display: block
    }
    .validation-advice {
        clear: both;
        min-height: 13px;
        margin: 3px 0 0;
        padding-left: 15px;
        font-size: 11px;
        line-height: 13px;
        background: url(../images/validation_advice_bg.gif) 5px 3px no-repeat;
        color: #eb340a
    }
    label.required {
        margin: 3px 0!important;
        display: inline-block;
        float: left;
        clear: left;
        width: 150px
    }
    .form-list li,
    .form-list li .field {
        float: none!important
    }
    .field.name-lastname {
        margin: 0!important;
        width: 104%!important
    }
    li.ddl-edit-civ,
    li.ddl-edit-gen {
        width: 100%!important
    }
    li.ddl-edit-gen {
        padding-right: 0!important
    }
    .field.name-firstname {
        margin: 0!important;
        width: 104%!important
    }
}
@media screen and (max-width: 767px) and (min-width: 480px) {
    div#advice-required-entry-captcha_user_create,
    div#advice-validate-terms-condition-agree_on_terms {
        padding-left: 13px;
        background: url(../images/validation_advice_bg.gif) 3px 3px no-repeat
    }
    input#captcha_user_create {
        width: 80%;
        margin: 5px 0
    }
    .form-list,
    li.ddl-edit-civ,
    li.ddl-edit-gen {
        width: 100%!important
    }
    div#advice-required-entry-captcha_user_create {
        clear: both;
        min-height: 13px;
        margin: 3px 0 0;
        font-size: 11px;
        line-height: 13px;
        color: #eb340a
    }
    .field.name-lastname {
        margin: 0!important
    }
    li.ddl-edit-gen {
        padding-right: 0!important
    }
}
@media screen and (max-width: 959px) and (min-width: 768px) {
    div#advice-required-entry-captcha_user_create,
    div#advice-validate-terms-condition-agree_on_terms {
        padding-left: 33px;
        background: url(../images/validation_advice_bg.gif) 23px 3px no-repeat
    }
}
@media screen and (min-width: 960px) {
    div#advice-required-entry-captcha_user_create,
    div#advice-validate-terms-condition-agree_on_terms {
        padding-left: 33px;
        background: url(../images/validation_advice_bg.gif) 23px 3px no-repeat
    }
}
input#firstname_edit,
input#lastname_edit {
    width: 100%
}
.field.name-lastname {
    margin: 0
}
li.ddl-edit-civ {
    width: 42%
}
li.ddl-edit-gen {
    width: 45%;
    padding-right: 20px
}
.gallery__item {
    text-align: center;
    width: 215px
}
.generic-name-box {
    border: 1px solid #000;
    padding: 3px 3px 0;
    display: inline-block;
    max-width: 215px;
    word-wrap: break-word
}
.cms-homepage .header-container p,
.gallery__item .item-name-price li:nth-child(1),
.owl-dots {
    display: none
}
.generic-name-box h5 {
    text-transform: uppercase;
    margin: 0;
    padding: 5px
}
.nogenericname{
    height: 33px;
}
.gallery__controls-next {
    margin-right: 0
}
.gallery__controls-prev {
    margin-left: 0
}
.gallery__item #btncart {
    width: 50%;
    background-color: #7f7f7f;
    border: 0
}
.my-account-top li {
    text-align: left
}
.gallery__item .item-name-price li {
    margin: 0 auto
}
.gallery__item .item-name-price li:nth-child(2) {
    padding-top: 5px;
    padding-bottom: 5px
}
.gallery__item .item-name-price li h6 {
    margin: 0 0 10px;
    min-height: 34px
}
.gallery__item .gallery-price {
    font-size: 15px
}
.gallery__item a:hover {
    color: #000
}
ul.navbar ul li:before {
    content: ">";
    float: right;
    padding-right: 10px;
    position: relative;
    top: 10px;
    color: #000
}
.slider-container {
    -webkit-box-shadow: 0 4px 10px #CCC;
    -moz-box-shadow: 0 4px 10px #CCC;
    box-shadow: 0 4px 10px #CCC
}
.sub-menu li.parent-category:hover {
    font-weight: 700;
    opacity: 1;
    color: red;
    background: #FFF
}
ul.navbar li ul.child-category {
    background: #FFF
}
ul.navbar li ul.child-category li:before {
    content: ""
}
.sub-menu li.parent-category .child-category,
.sub-menu li.parent-category a:focus,
.sub-menu li.parent-category a:hover {
    opacity: 1
}
.customer-account-edit .form-list li .field {
    width: 100%!important;
    padding: 5px 0
}
.customer-account-edit .my-account #dob .customer-account-edit #current_password {
    width: 50%!important
}
.customer-account-edit .my-account #confirmation,
.customer-account-edit .my-account #password {
    width: 35.3%
}
#demos .owl-carousel .item {
    height: 10rem;
    background: #4DC7A0;
    padding: 1rem
}
#demos .owl-carousel .item h4 {
    color: #FFF;
    font-weight: 400;
    margin-top: 0
}
.owl-theme .owl-nav {
    position: absolute;
    top: 135px;
    width: 100%;
    height: 0
}
.owl-prev {
    float: left;
    background: url(../images/arrow_left.PNG) no-repeat!important;
    width: 62px;
    height: 96px
}
.owl-next {
    background: url(../images/arrow_right.PNG) no-repeat!important;
    width: 57px;
    height: 96px;
    float: right
}
.owl-theme .owl-nav [class*=owl-] {
    margin: 0!important;
    padding: 0!important
}

.customer-account-edit .name-firstname,
.customer-account-edit .name-lastname {
    margin-right: 0!important
}
.customer-account-edit .input-box #firstname_edit,
.customer-account-edit .input-box #lastname_edit {
    width: 37.5%!important
}
.customer-account-edit .my-account ul li .input-box #email {
    width: 36.5%!important
}
.customer-account-edit .my-account .input-box,
.customer-account-edit li.edit_gen .input-box {
    width: 100%!important
}
.customer-account-edit #change_password {
    margin-left: 0!important
}
.customer-account-edit .my-account .input-box select {
    width: 38%
}
.customer-account-edit .my-account #dob {
    width: 36.4%!important
}
.my-account-top .dropdown-content {
    right: 3vw
}
.slider-container img {
    width: 100%;
    height: 100%
}
.customer-address-form .form-list li .field {
    width: 100%!important
}
.customer-address-form .input-box #street_2 {
    left: 11.5%;
    float: none
}
.customer-address-form .my-account .input-box select {
    width: 52%!important
}
.dropdown-content {
    background: #FFF;
    width: 13%;
    height: 50px;
    top: 55px;
    border-radius: 10px
}
.dropdown-content {
    display: none;
    position: absolute;
    min-width: 90px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
    padding: 12px 16px;
    z-index: 1;
}
.dropdown:hover .dropdown-content {
    display: block;
}
.dropdown-content:before {
    border-width: 36px;
    margin-left: -36px
}
.dropdown-content:after,
.dropdown-content:before {
    bottom: 100%;
    left: 66%;
    border: solid transparent;
    content: " ";
    height: 0;
    width: 0;
    position: absolute;
    pointer-events: none
}
.dropdown-content:after {
    border-bottom-color: #FFF;
    border-width: 22px;
    margin-left: -30px
}
.shipping_ {
    height: 80%;
    width: 45%
}
.cart_ {
    height: 40px
}
.payment_,
.placeholder_ {
    height: 80%;
    width: 45%
}
.choose-billing {
    width: 40%;
    height: 300px;
    display: inline-block;
    position: relative;
    top: 15px;
    padding-left: 20px
}
.choose-billing-list .bill-name {
    margin-left: 20px;
    position: relative;
    top: -2px;
    font-weight: 700
}
.choose-billing p {
    margin: 0;
    padding-left: 10px
}
.payment_method_wraper .payment_list,
.shipping_method_wraper .cls_body {
    margin-top: 15px
}
.billing-address p.s-city,
.billing-address p.s-country,
.billing-address p.s-mobile,
.billing-address p.s-street,
.choose-shipping-list p.s-city,
.choose-shipping-list p.s-country,
.choose-shipping-list p.s-mobile,
.choose-shipping-list p.s-street {
    margin-left: 7%!important
}
.shipping_method_wraper .heading .shipping-line {
    width: 18%!important
}
.payment-method .cls_header {
    color: #847f7f;
    font-size: 20px!important
}
.payment-method .shipping-line {
    width: 20%
}
.checkout-placeorder #submit_btn {
    width: 179px
}
.dropdown {
    line-height: 50px
}
.dropdown:hover .dropdown-content {
    line-height: 25px
}
li.main-category ul.sub-menu .parent-category:nth-of-type(5) ul.child-category {
    display: none!important
}
/*.catalog-category-view .category-title {
    display: none
}*/
.wpsi_logo li h3 {
    text-align: center
}
.wpsi_logo li {
    text-align: center!important
}
#rx-big {
    width: 0
}
#rx-big img {
    width: 130px
}
.owl-stage-outer {
    margin-left: 10px
}