<?xml version="1.0"?>
<config>
    <modules>
        <Unilab_Customer>
            <version>1.8.1</version> 
        </Unilab_Customer>
    </modules> 
    <frontend>
        <routers>
            <customer>
                <args>
                    <modules>
                        <customer before="Mage_Customer">Unilab_Customer</customer>
                    </modules>
                </args>
            </customer>
        </routers>
    </frontend>
	<global>
		<blocks>
			<customer>
				<rewrite>
					<widget_dob>Unilab_Customer_Block_Widget_Dob</widget_dob>
					<widget_civilstatus>Unilab_Customer_Block_Widget_Civilstatus</widget_civilstatus>
					<widget_terms>Unilab_Customer_Block_Widget_Terms</widget_terms>
				</rewrite>
			</customer>
		</blocks>
		<helpers> 
			<customer>
				<rewrite>
					<data>Unilab_Customer_Helper_Data</data>
				</rewrite>
			</customer>
        </helpers> 
		<fieldsets>
            <sales_copy_order_billing_address>
                <mobile><to_order>*</to_order></mobile> 
            </sales_copy_order_billing_address>
            <sales_copy_order_shipping_address>
                <mobile><to_order>*</to_order></mobile> 
            </sales_copy_order_shipping_address>
            <sales_convert_quote_address>
                <mobile><to_order_address>*</to_order_address><to_customer_address>*</to_customer_address></mobile> 
            </sales_convert_quote_address>
            <sales_convert_order_address>
                <mobile><to_quote_address>*</to_quote_address></mobile> 
            </sales_convert_order_address>
            <customer_address>
                 <mobile><to_quote_address>*</to_quote_address></mobile> 
            </customer_address>
            <checkout_onepage_billing>
                <mobile><to_customer>*</to_customer></mobile> 
            </checkout_onepage_billing>
        </fieldsets>
	</global>
</config>
