<?xml version="1.0"?>
<config>
    <modules>
        <Unilab_DatabaseUpdate>
            <version>0.1.0</version> 
            <version>0.2.0</version> 
            <version>0.3.0</version> 
            <version>0.4.0</version> 
            <version>0.5.0</version> 
            <version>0.5.1</version> 
            <version>0.5.2</version> 
            <version>0.5.3</version> 
            <version>0.5.4</version> 
            <version>0.5.5</version> 
            <version>0.5.6</version> 
        </Unilab_DatabaseUpdate>
    </modules>
    <global>
        <resources>
            <databaseupdate_setup>
                <setup>
                    <module>Unilab_DatabaseUpdate</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </databaseupdate_setup>
			<databaseupdate_write>
				<connection>
					<use>core_write</use>
				</connection>
			</databaseupdate_write>
			<databaseupdate_read>
				<connection>
					<use>core_read</use>
				</connection>
			</databaseupdate_read>
        </resources> 
		<helpers>
			<databaseupdate>
                <class>Unilab_DatabaseUpdate_Helper</class>
			</databaseupdate>
		</helpers>
		<template>
            <email>
                <customconfig_creditmemo_template translate="label" module="databaseupdate">
                    <label>Account Notification</label>
                    <file>sales/unilab_creditmemo_account_notification_new.html</file>
                    <type>html</type>
                </customconfig_creditmemo_template>				
            </email>
        </template>
    </global>
	<admin>
        <routers>
            <databaseupdate>
                <use>admin</use>
                <args>
                    <module>Unilab_DatabaseUpdate</module>
                    <frontName>customconfig</frontName>
                </args>
            </databaseupdate>
        </routers>
    </admin> 
	 <adminhtml> 
        <acl>
            <resources>
                <admin>
                    <children>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <customconfig translate="title" module="databaseupdate">
											<title>Movent &gt; Customers</title> 
                                        </customconfig>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
    </adminhtml>
</config>