.cart_item_wrapper{

	display:none;
}
.waitloading{

	font-size:14px; 
	color:red;

}
.quickorder_wrapper {
    width: 50%;
    position: fixed;
    top: 4%;
    left: 25%;
    background-color: #fff;
    padding: 20px;
    border: solid #7B7B7B 2px;
    z-index: 99999;
}

.blur_back {
    width: 100%;
	min-height:800px;
	height:100%;
    position: fixed;
    top: 0;
    left: 0;
	z-index: 99997;
	background-color:#000;
	opacity: 0.7;
}

.product_wrapper {
    max-height: 290px;
    overflow: auto;
    margin-top: 10px;
    border: solid 1px #A9A9A9;
    padding: 10px;
}

.btn_tocart {
    padding: 5px;
    background-color: #8C0000;
    margin: 0px 5px 5px 0px;
    color: #fff;
	font-size: 14px;
    text-decoration: none;
}

.btn_tocart:hover {
    text-decoration: none !important;
}

.description_cls, .image_cls{
	float:left;
}
.product_wrapper .image_cls{
	min-width:25%;
	max-width:25%;
	height:120px;
}
.product_wrapper .image_cls img{
	width	:120px;
	height	:120px;
}
.product_wrapper .description_cls {
    width: 75%;
    padding:10px;
	height:130px;
}
.product_wrapper li{

	margin-bottom:5px;
	padding: 5px;
}

.cls_qty{    

	width: 60px !important;
    margin-right: 5px !important;
}

.cart_item_wrapper li{
    max-height: 80px;
}
.cart_item_wrapper .image_cls{
	min-width:15%;
	max-width:15%;
	height:80px;
}
.cart_item_wrapper .image_cls img{
	width	:80px;
	height	:80px;
}
.cart_item_wrapper .description_cls{
	width: 85%;
	height:80px;
}

.cart_item_wrapper{
    max-height: 175px;
    overflow: auto;
	border: solid #7B7B7B 1px;
	padding:5px;
}
#product_name{

    padding: 10px;
    width: 96%;
	
}
