<?xml version="1.0"?> 
<config>
	<modules>
		<Unilab_Socialmedia>
			<version>0.1.0</version>
		</Unilab_Socialmedia>
	</modules> 
	<global>
		<helpers>
			<socialmedia>
				<class>Unilab_Socialmedia_Helper</class>
			</socialmedia>
		</helpers>
        <blocks>
            <socialmedia>
                <class>Unilab_Socialmedia_Helper_Block</class>
            </socialmedia>
        </blocks>
	</global>
	<admin>
        <routers>
            <socialmedia>
                <use>admin</use>
                <args>
                    <module>Unilab_Socialmedia</module>
                    <frontName>socialmedia</frontName>
                </args>
            </socialmedia>
        </routers>
    </admin> 
   <adminhtml>
		<translate>
			<modules>
				<Unilab_Socialmedia>
					<files>
						<default>Unilab_Socialmedia.csv</default>
					</files>
				</Unilab_Socialmedia>
			</modules>
		</translate>
		<acl>
			<resources>
				<admin>
					<children>
						<system>
							<children>
								<config>
									<children>
										<socialmedia translate="title" module="socialmedia">
											<title>Social Media</title>
											<sort_order>1</sort_order>  
										</socialmedia>
									</children>
								</config>
							</children>
						</system>
					</children>
				</admin>
			</resources>
		</acl>
	</adminhtml>
	<default>
		<socialmedia>
			<mediaurls>
				<facebook><![CDATA[http://www.facebook.com/Unilab]]></facebook>
				<twitter><![CDATA[https://twitter.com/unilab_ph]]></twitter>
				<youtube><![CDATA[http://www.youtube.com/user/unilabph]]></youtube>
			</mediaurls>
		</socialmedia>
	</default>
</config>