<?xml version="1.0"?> 
<config>
    <modules>
        <Unilab_Inquiry>
            <version>1.2.0</version>
            <version>2.0.0</version>
            <version>3.0.0</version>
        </Unilab_Inquiry>
    </modules>
    <frontend>
        <routers>
            <inquiry>
                <use>standard</use>
                <args>
                    <module>Unilab_Inquiry</module>
                    <frontName>contacts</frontName>
                </args>
            </inquiry>
        </routers>
        <translate>
            <modules>
                <Unilab_Inquiry>
                    <files>
                        <default>Unilab_Inquiry.csv</default>
                    </files>
                </Unilab_Inquiry>
            </modules>
        </translate>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <inquiry>
                <use>admin</use>
                <args>
                    <module>Unilab_Inquiry</module>
                    <frontName>inquiry</frontName>
                </args>
            </inquiry>
        </routers>
    </admin>    
    <global>
        <models>
            <inquiry>
                <class>Unilab_Inquiry_Model</class>
                <resourceModel>inquiry_mysql4</resourceModel>
            </inquiry>
            <inquiry_mysql4>
                <class>Unilab_Inquiry_Model_Mysql4</class> 
				<entities>
                    <inquiry>	
                        <table>unilab_inquiry</table>
                    </inquiry>  
                </entities>
            </inquiry_mysql4> 
        </models>
        <resources>
            <inquiry_setup>
                <setup>
                    <module>Unilab_Inquiry</module>
                    <class>Unilab_Inquiry_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </inquiry_setup>
            <inquiry_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </inquiry_write>
            <inquiry_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </inquiry_read>
        </resources>        
        <helpers>
            <inquiry>
                <class>Unilab_Inquiry_Helper</class>
            </inquiry>
        </helpers>
        <blocks>
            <inquiry>
                <class>Unilab_Inquiry_Block</class>
            </inquiry>
        </blocks>
        <template>
            <email>
                <unilab_customers_inquiry_email_template translate="label" module="inquiry">
                    <label>Contact Form (Extended)</label>
                    <file>inquiry_form.html</file>
                    <type>html</type>
                </unilab_customers_inquiry_email_template>
				<unilab_customers_inquiry_doctor_email_template translate="label" module="inquiry">
                    <label>Unilab - Contact Form ( For Doctor)</label>
                    <file>inquiry_doctor_form.html</file>
                    <type>html</type>
                </unilab_customers_inquiry_doctor_email_template>
				<unilab_customers_inquiry_pharmacist_email_template translate="label" module="inquiry">
                    <label>Unilab - Contact Form (For Pharmacist)</label>
                    <file>inquiry_pharmacist_form.html</file>
                    <type>html</type>
                </unilab_customers_inquiry_pharmacist_email_template>
            </email>
        </template>
    </global>

    <adminhtml>
        <translate>
            <modules>
                <Unilab_Inquiry>
                    <files>
                        <default>Unilab_Inquiry.csv</default>
                    </files>
                </Unilab_Inquiry>
            </modules>
        </translate>
        <acl>
            <resources>
            	<all>
                    <title>Allow Everything</title>
                </all>
                <admin>
                    <children>
                    	<Unilab_Inquiry>
                            <title>Inquiry Module</title>
                            <sort_order>10</sort_order>
                        </Unilab_Inquiry>
                        <system>
                            <children>
                                <config>
                                    <children>
                                        <unilab_customers translate="title" module="unilab">
                                        <title>Movent &gt; Customers</title>
                                        <sort_order>1</sort_order> 
                                            <children>
                                                <inquiry translate="title" module="inquiry">
                                                    <title>Extended Contact Form</title>
                                                </inquiry>
                                            </children>
                                        </unilab_customers>
                                    </children>
                                </config>
                            </children>
                        </system>
                    </children>
                </admin>
            </resources>
        </acl>
        <layout>
            <updates>
                <inquiry>
                    <file>inquiry.xml</file>
                </inquiry>
            </updates>
        </layout>
    </adminhtml>
    
    <default>
        <unilab_customers>
            <inquiry>
                <enabled>1</enabled>
                <form_block>inquiry-form</form_block>
                <form_enabled>1</form_enabled>
                <recipient_email><![CDATA[jerick.duguran@unilab.com]]></recipient_email>
                <sender_email_identity>custom2</sender_email_identity>
                <email_template>unilab_customers_inquiry_email_template</email_template>
                <sender_copy>0</sender_copy>
                <departments></departments>
            </inquiry>
        </unilab_customers>
    </default>
</config>
