<?xml version="1.0"?> 
<config>
    <modules>
        <Unilab_Promovouchers>
            <version>1.0.1.2</version>
        </Unilab_Promovouchers>
    </modules>
	<global>	
		<models>
			<promovouchers>
				<class>Unilab_Promovouchers_Model</class>
				<resourceModel>promovouchers_mysql4</resourceModel>
			</promovouchers>
	        <promovouchers_mysql4>
                <class>Unilab_Promovouchers_Model_Mysql4</class>
                <entities>
                	<promovouchers>                    	
                		<table>unilab_promovouchers</table>                	
                	</promovouchers>
				</entities>
            </promovouchers_mysql4>			
		</models>
		
		<resources>  
			<benefits_setup>
				<setup>
					<module>Unilab_Promovouchers</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</benefits_setup>
			<benefits_write>
				<connection>
					<use>core_write</use>
				</connection>
			</benefits_write>
			<benefits_read>
				<connection>
					<use>core_read</use>
				</connection>
			</benefits_read>
		</resources>
		<blocks>	
			<promovouchers>
				<class>Unilab_Promovouchers_Block</class>
			</promovouchers>
		</blocks>
		<helpers>
			<promovouchers>
				<class>Unilab_Promovouchers_Helper</class>
			</promovouchers>
		</helpers>		
	</global>
	
	<frontend>	
		<routers>		
			<promovouchers>
				<use>standard</use>
				<args>
					<module>Unilab_Promovouchers</module>
					<frontName>promovouchers</frontName>
				</args>
			</promovouchers>
		</routers>
	</frontend>

    <admin>
        <routers>
            <promovouchers>
                <use>admin</use>
                <args>
                    <module>Unilab_Promovouchers</module>
                    <frontName>promovouchers</frontName>
                </args>
            </promovouchers>
        </routers>
    </admin>  	
</config>