<?xml version="1.0"?>
<config>
    <modules>
        <Unilab_CityDropdown>
            <version>0.1.0</version>
            <version>0.1.1</version> 
        </Unilab_CityDropdown>
    </modules>
    <admin>
        <routers>
            <citydropdown>
                <use>admin</use>
                <args>
                    <module>Unilab_CityDropdown</module>
                    <frontName>citydropdown</frontName>
                </args>
            </citydropdown>
        </routers>
    </admin>  
    <global>
        <resources>
            <citydropdown_setup>
                <setup>
                    <module>Unilab_CityDropdown</module>
                     <class>Unilab_CityDropdown_Model_Mysql4_Setup</class>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </citydropdown_setup>
			<citydropdown_write>
				<connection>
					<use>core_write</use>
				</connection>
			</citydropdown_write>
			<citydropdown_read>
				<connection>
					<use>core_read</use>
				</connection>
			</citydropdown_read>
        </resources>
        <models>
            <citydropdown>
                <class>Unilab_CityDropdown_Model</class>
                <resourceModel>citydropdown_mysql4</resourceModel>
            </citydropdown>
            <citydropdown_mysql4>
                <class>Unilab_CityDropdown_Model_Mysql4</class>
                <entities>
                    <citydropdown>
                        <table>unilab_cities</table>
                    </citydropdown>
                </entities>
            </citydropdown_mysql4>
        </models>        
		<helpers>
			<citydropdown>
                <class>Unilab_CityDropdown_Helper</class>
			</citydropdown>
		</helpers>	
		 <blocks>
            <citydropdown>
                <class>Unilab_CityDropdown_Block</class>
            </citydropdown>
        </blocks>
    </global>	 
	<adminhtml>
		 <acl>
			<resources>
				<all>
					<title>Allow Everything</title>
				</all>
				<admin>
					<children>
						<Unilab_CityDropdown>
							<title>City List</title>
							<sort_order>50</sort_order>
						</Unilab_CityDropdown>
					</children>
				</admin>
			</resources>
		</acl> 
		<layout>
			<updates>
				<citydropdown>
					<file>citydropdown.xml</file>
				</citydropdown>
			</updates> 
		</layout>
	</adminhtml>	
</config>