<?xml version="1.0"?> 
<config>
  <modules>
    <Unilab_Adminhtml>
      <version>1.1.1</version>
    </Unilab_Adminhtml>
  </modules>
    <admin>
        <routers>
            <adminhtml> 
                <args>
                     <modules>
                        <adminhtml before="Mage_Adminhtml">Unilab_Adminhtml</adminhtml>
                    </modules>
                </args>
            </adminhtml>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Unilab_Adminhtml>
                    <files>
                        <default>Unilab_Adminhtml.csv</default>
                    </files>
                </Unilab_Adminhtml>
            </modules>
        </translate>
    </adminhtml>
	<global>
		<blocks>
		  <unilab>
			<class>Unilab_Adminhtml_Block</class>
		  </unilab>
		  <adminhtml>
		      <rewrite>
		          <system_config_edit>Unilab_Adminhtml_Block_System_Config_Edit</system_config_edit>
		          <sales_order_grid>Unilab_Adminhtml_Block_Sales_Order_Grid</sales_order_grid>
		          <sales_order_creditmemo_create_items>Unilab_Adminhtml_Block_Sales_Order_Creditmemo_Create_Items</sales_order_creditmemo_create_items>
		      </rewrite>
		  </adminhtml>
		</blocks>
        <models>
            <unilab>
                <class>Unilab_Adminhtml_Model</class>
            </unilab>
		  <adminhtml>
		      <rewrite>
				<observer_product>Unilab_Adminhtml_Model_Observer_Product</observer_product>
		      </rewrite>
		  </adminhtml>
        </models>
		<resources>
		  <unilab_setup>
			  <setup>
				  <module>Unilab_Adminhtml</module>
			  </setup>
			  <connection>
				  <use>core_setup</use>
			  </connection>
		  </unilab_setup>
		  <unilab_write>
			  <connection>
				  <use>core_write</use>
			  </connection>
		  </unilab_write>
		  <unilab_read>
			  <connection>
				  <use>core_read</use>
			  </connection>
		  </unilab_read>
		</resources>
		<helpers>
			<unilab>
                <class>Unilab_Adminhtml_Helper</class>
			</unilab>
		</helpers>
	  <template>
            <email>
                <unilab_support_email_template>
                    <label>Unilab Support</label>
                    <file>unilab_support.html</file>
                    <type>text</type>
                </unilab_support_email_template>
            </email>
        </template>
		<events>
            <catalog_product_save_before>
                <observers>
                    <product_moq>
                        <class>adminhtml/observer_product</class>
                        <method>applyMOQ</method>
                    </product_moq> 
                </observers>
            </catalog_product_save_before> 
        </events>
	</global>	
	<default>
		<unilab>
            <support>
                <email><![CDATA[c3VwcG9ydEBtYWdld29yeC5jb20=]]></email>
                <name>Unilab Support</name>
                <template>unilab_support_email_template</template>
            </support>
		</unilab>
	</default> 
    <stores>
        <admin> 
            <design> 
                <theme>
                    <default>unilab</default>
                </theme>
            </design>
        </admin>
    </stores> 
</config>
