<?xml version="1.0"?>
<config>
    <modules>
        <Gurutheme_Gubase>
            <version>0.1.0</version>
        </Gurutheme_Gubase>
    </modules>
    <frontend>
        <routers>
            <gubase>
                <use>standard</use>
                <args>
                    <module>Gurutheme_Gubase</module>
                    <frontName>gubase</frontName>
                </args>
            </gubase>
        </routers>
        <layout>
            <updates>
                <gubase>
                    <file>gurutheme/gubase.xml</file>
                </gubase>
            </updates>
        </layout>
    </frontend>
    <admin>
        <routers>
            <gubase>
                <use>admin</use>
                <args>
                    <module>Gurutheme_Gubase</module>
                    <frontName>gubase</frontName>
                </args>
            </gubase>
        </routers>
    </admin>
    <adminhtml>
        <translate>
            <modules>
                <Gurutheme_Gubase>
                    <files>
                        <default>Gurutheme_Gubase.csv</default>
                    </files>
                </Gurutheme_Gubase>
            </modules>
        </translate>                
        <layout>
            <updates>
                <gubase>
                    <file>gurutheme/gubase.xml</file>
                </gubase>
            </updates>
        </layout>
    </adminhtml>
    <global>
        <models>
            <gubase>
                <class>Gurutheme_Gubase_Model</class>
                <resourceModel>gubase_mysql4</resourceModel>
            </gubase>
            <gubase_mysql4>
                <class>Gurutheme_Gubase_Model_Mysql4</class>
                <entities>
                    <gubase>
                        <table>gurutheme_product_block</table>
                    </gubase>
                </entities>
            </gubase_mysql4>
        </models>
        <resources>
            <gubase_setup>
                <setup>
                    <module>Gurutheme_Gubase</module>
                </setup>
                <connection>
                    <use>core_setup</use>
                </connection>
            </gubase_setup>
            <gubase_write>
                <connection>
                    <use>core_write</use>
                </connection>
            </gubase_write>
            <gubase_read>
                <connection>
                    <use>core_read</use>
                </connection>
            </gubase_read>
        </resources>
        <blocks>
            <gubase>
                <class>Gurutheme_Gubase_Block</class>
            </gubase>
        </blocks>
        <helpers>
            <gubase>
                <class>Gurutheme_Gubase_Helper</class>
            </gubase>
        </helpers>
    </global>
</config>