<?xml version="1.0"?> 
<config>
    <modules>
        <RRA_Checkout>
            <version>1.0.1.2</version>
        </RRA_Checkout>
    </modules>
	<global>
		<models>
			<rracheckout>
				<class>RRA_Checkout_Model</class>
			</rracheckout>
		</models>
		<blocks>
			<rracheckout>
				<class>RRA_Checkout_Block</class>
			</rracheckout>
		</blocks>
		<helpers>
			<rracheckout>
				<class>RRA_Checkout_Helper</class>
			</rracheckout>
		</helpers>
		<events>	
            <controller_action_predispatch_checkout_onepage_index>
                <observers>
                    <rracheckout>
                        <class>rracheckout/observer</class>
                        <method>checkoutpage</method>
                    </rracheckout>
                </observers>
            </controller_action_predispatch_checkout_onepage_index> 				
			
        </events>		
	</global>
	<frontend>
		<routers>
			<rracheckout>
				<use>standard</use>
				<args>
					<module>RRA_Checkout</module>
					<frontName>rracheckout</frontName>
				</args>
			</rracheckout>
		</routers>
		<layout>
            <updates>
                <rracheckout>
                    <file>rracheckout.xml</file>
                </rracheckout>
            </updates>
        </layout>		
	</frontend>
	<adminhtml>
		<layout>
			<updates>
				<rracheckout>
					<file>rracheckout.xml</file>
				</rracheckout>
			</updates>
		</layout>
	</adminhtml>
</config>