<?xml version="1.0"?> 
<config>
    <modules>
        <RRA_Promomechanics>
            <version>1.0.1.2</version>
        </RRA_Promomechanics>
    </modules>
	<global>	
		<models>
			<promomechanics>
				<class>RRA_Promomechanics_Model</class>
				<resourceModel>promomechanics_mysql4</resourceModel>
			</promomechanics>			
		</models>
		
		<resources>  
			<benefits_setup>
				<setup>
					<module>RRA_Promomechanics</module>
				</setup>
				<connection>
					<use>core_setup</use>
				</connection>
			</benefits_setup>
			<benefits_write>
				<connection>
					<use>core_write</use>
				</connection>
			</benefits_write>
			<benefits_read>
				<connection>
					<use>core_read</use>
				</connection>
			</benefits_read>
		</resources>
		<blocks>	
			<promomechanics>
				<class>RRA_Promomechanics_Block</class>
			</promomechanics>
		</blocks>
		<helpers>
			<promomechanics>
				<class>RRA_Promomechanics_Helper</class>
			</promomechanics>
		</helpers>		
	</global>
	
	<frontend>	
		<routers>		
			<promochecker>
				<use>standard</use>
				<args>
					<module>RRA_Promomechanics</module>
					<frontName>promochecker</frontName>
				</args>
			</promochecker>
		</routers>
	</frontend>

    <admin>
        <routers>
            <promomechanics>
                <use>admin</use>
                <args>
                    <module>RRA_Promomechanics</module>
                    <frontName>promomechanics</frontName>
                </args>
            </promomechanics>
        </routers>
    </admin>  	
</config>