<?xml version="1.0"?>
<config>
  <modules> 
		<Unilab_Xend> 
			<version>0.1.0</version>
		</Unilab_Xend>
  </modules>     
  <global> 
	<models> 
	  <xend> 
		<class>Unilab_Xend_Model</class>
	  </xend>
	</models>      
	<resources> 
	  <xend_setup> 
		<setup> 
		  <module>Unilab_Xend</module>
		</setup> 
		<connection> 
		  <use>core_setup</use>
		</connection>
	  </xend_setup>
	</resources>
	<helpers>
		<xend>
			<class>Unilab_Xend_Helper</class>
		</xend>
	</helpers> 
	 <events>
		<unilab_payment_captured_after>
			<observers>
				<process_waybill>
					<class>Unilab_Xend_Model_Observer_Sales</class>
					<method>processWaybill</method>
				</process_waybill>
			</observers>
		</unilab_payment_captured_after>
	</events>
  </global>
  <default>
        <carriers>
            <xend>
                <active>1</active>
				<title>Xend</title>
				<name>Standard Delivery</name>
				<max_free_shipping_insurance>2000</max_free_shipping_insurance>
				<insurance_percent_excess>1</insurance_percent_excess>
				<shipment_type>Parcel</shipment_type>
				<PackagingTypeValue>OwnPackaging,LargePouch,XLPouch</PackagingTypeValue>	
				<product_weight_unit>G</product_weight_unit>
				<destinations>MetroManilaExpress,ProvincialExpress,InternationalEMS,RizalMetroManilaExpress</destinations>
				<developer_id>DFABAE3E-C61B-4F4B-84E2-7841F61D02F3</developer_id> 
				<user_token>E188028D-568E-446A-840A-1EB2004DAA2F</user_token> 
                <model>unilab_xend_model_shipping_carrier_xend</model>
                <rate_service_url>https://www.xend.com.ph/api/RateService.asmx?wsdl</rate_service_url> 
                <shipment_service_url>https://www.xend.com.ph/api/ShipmentService.asmx?wsdl</shipment_service_url> 
            </xend>
        </carriers>
    </default>
</config>